<div class="container">
    <div style="text-align:center">
      <h1>
        Current Address from  Latitude and Longitude
      </h1>
    </div>

    <!-- <div class="alert alert-warning">
      Note: Once Track me is enabled, refresh page to enable Find me feature!
    </div> -->
    <div>
      <div>
        <button [disabled]="isTracking" class="btn btn-primary" (click)="openstreet()">Near By</button>
        <!-- <button class="btn btn-primary" (click)="trackM  e()">Track me</button> -->
      </div>
      <div class="text-white">
        <span>Latitude: {{currentLat}}</span>|
        <span>Longitude: {{currentLong}}</span>|
        <span>Pincode: {{model.pincode}}
          <form>
            <div class="search-bar-wrap">
                <img src="./assets/loc.png" alt="marker" class="marker">
                <input  class = "location-bar" name="locationBar" #pincode="ngModel" placeholder="Search location" [(ngModel)]="model.location" type="text" (keypress)="searchLocation()"/>
                <img src="./assets/close.png" alt="marker" class="marker" (click)="clearSearch()">
            </div>
            <div class="search-result" *ngIf="listOfAllLocation.length && model.location">
                <ul class="result-list">
                    <li *ngFor="let bank of listOfAllLocation; let i = index" (click)="selectedFunc(bank , i)" [class.active]="i===indexvalue"
                      class="list-item">
                      <img src="./assets/loc.png" alt="bank-logo">
                      <span> {{ bank.name }}</span>
                    </li>
                    <li *ngIf="listOfAllLocation.length <= 0" class="no-result">
                      <div class="msg-box">
                        <div>No results found</div>
                        <div class="line"></div>
                        <div class="not-my-bank" [hidden]="hideBankNotListed">
                          <label class="label-text">My bank is not listed
                            <input type="checkbox" [(ngModel)]="noBank" (change)="selectedFunc(null , 0)">
                            <span class="checkmark"></span>
                          </label>
                        </div>
                      </div>
                    </li>
                  </ul>
            </div>
          </form>
        </span>
      </div>
      <br>
      <div class="row">
        <div class="col-md-12">
          <div class="text-center">
            <h3>
              <span>Your Current Location:</span><br> <span [innerHTML]="address"></span>
              <!-- <div #gmap style="width:100%;height:300px"></div> -->
            </h3>
          </div>
          <app-custom-select2 *ngIf="showList" [show]="showList" [colName]="'name'" [dataSource]="listOfAllLocation" (selectedBank)='selectedbank($event)'
          (closecusModal)='close($event)' [hideBankNotListed]="onlyNetbankingAvailable"></app-custom-select2>
        </div>
      </div>
    </div>
    <br>
    <footer>
      <div>
        <h3>
          Ashutosh Kumar tiwari
        </h3>
      </div>
      <div class="row">
        <div class="col-md-1">
          <a class="lead" href="" target="_blank">LinkedIn</a>
        </div>
        <div class="col-md-2">
          <a class="lead" href="" target="_blank">GitHub</a>
        </div>
      </div>
    </footer>
  </div>
